@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: none;
}

@layer components {
  .input-primary {
    @apply py-4 px-3 bg-gray-600 text-sm font-medium w-full rounded text-white;
  }

  .btn-primary {
    @apply px-4 py-2 rounded font-medium bg-black border-gray-400 border-2 hover:bg-gray-600 transition-all
    text-base;
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #555;
  }
}
